* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.wrap {
	width: 80%;
	margin: 0 auto;
	max-width: 600px;
	justify-content: space-between;
}
header {
text-align: center;
height: auto;
background: #C4FF3C;
margin-bottom: 0.5%;
}
.ott {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}		
.one,
.two,
.three {
	width: 33%;
	height: auto;
	padding: 2%;
	box-sizing: border-box;
	margin-bottom: 0.5%;
}
.one{
	background: #504EA0;
}
.two {
	background: #50A026;
}
.three {
	background: #4B99FF;
}
.four {
	background: #FFA300;
	width: 100%;
	padding: 2%;
}
@media screen and (max-width: 500px) {
	.one,
	.two {
	 	width: 49.5%; 
	}
	.three {
		width: 100%;
	}
}
@media screen and (max-width: 300px) {
	.one,
	.two {
	 	width: 100%;
	}
}	